<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>baidu news</title>

    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/main.css">

</head>
<body>

<div class="wrapper">

    <!--header-->
    <header>
        <div class="nav-header-container nav-header-container-logo clearfix">
            <a href="javascript:;" class="float-left baidu-icon"></a>
            <a href="javascript:;" class="float-left profile-icon"></a>
            <a href="javascript:;" class="float-right subscribe-icon"></a>
            <a href="javascript:;" class="float-right search-icon"></a>
        </div>

        <!--nav-->
        <div id="index_view_navigator">
            <ul class="mainMenu">
                <li class="selected"><a href="javascript:;" data-type="0">全部</a></li>
                <li><a href="javascript:;" data-type="1">精选</a></li>
                <li><a href="javascript:;" data-type="2">百家</a></li>
                <li><a href="javascript:;" data-type="3">本地</a></li>
                <li><a href="javascript:;" data-type="4">娱乐</a></li>
                <li><a href="javascript:;" data-type="5">社会</a></li>
            </ul>
        </div>
    </header>

    <div class="container">

        <!--新闻列表-->
        <div class="newslist-container">

        </div>
    </div>


</div>


<script src="./javascripts/jquery-3.1.1.min.js"></script>
<script src="./javascripts/clientNews.js"></script>
<script src="./javascripts/common/moment.js"></script>
<script src="./javascripts/common/moment-timezone-with-data.js"></script>

</body>
</html>
