
/**
 * ----------------------------------------------------
 * variable
 * ----------------------------------------------------
 */
$primary-color: #e91409;

body{
    font-family: Helvetica, 'Microsoft YaHei', Arial, sans-serif;
}

h1 {
    color: $primary-color;
    font-size: 16px;
}
